#===Required variables===

# GitHub Personal Access Token 
GITHUB_TOKEN=123

# Repository owner or organization name
REPO_OWNER=123

# Repository name 
REPO_NAME=123

# IP or DNS name of the Zabbix server
ZABBIX_SERVER=123

#===Optional variables===

# Runner name 
RUNNER_NAME=123

# Host name in Zabbix 
ZABBIX_HOST=123

