#===Required variables===

# GitHub Personal Access Token 
GITHUB_TOKEN=gph_AbCdEfGh

# Repository owner or organization name
REPO_OWNER=my-organization

# Repository name 
REPO_NAME=my-organization

# IP or DNS name of the Zabbix server
ZABBIX_SERVER=192.168.1.100

#===Optional variables===

# Runner name 
#RUNNER_NAME=github-runner-01

# Host name in Zabbix 
#ZABBIX_HOST=zabbix.hostname

#The “zombie” time threshold in minutes
#MAX_LAST_CONTACT_MINUTES=10
