#===Required variables===

# GitHub Personal Access Token 
GITHUB_TOKEN="{{ github_token }}"

# Repository owner or organization name
REPO_OWNER="{{ repo_owner }}"

# Repository name 
REPO_NAME="{{ repo_name }}"

# IP or DNS name of the Zabbix server
ZABBIX_SERVER="{{ zabbix_server }}"

#===Optional variables===

# Runner name 
#RUNNER_NAME="{{ runner_name }}"

# Host name in Zabbix 
#ZABBIX_HOST="{{ zabbix_host }}"

#The “zombie” time threshold in minutes
#MAX_LAST_CONTACT_MINUTES="{{ max_last_contact_minutes | default(10) }}"
